* {
    font-family:Bahnschrift;
    color: darkblue;

}

/*//SI RODRIGUEZ BAUTISTA ANDERSON JAVIER 
CC 1023916622
COHORTE 4 SECCION 2*/

body {
    width: 80%;
    max-width: 400px;
    text-align: center;
    border: solid 12px darkblue;
    padding-bottom: 20px;
    margin: 7% auto;
    background: #fafafa;
    background-color: darkcyan;
    margin: 0;
    overflow: hidden;
}
@media screen and (max-width: 785px) {
   
    .calculadora {
        width: 100%;
        font-size: 20px;
    padding: 30px;
    font-size: 29px;
}
               }


    video {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .calculadora {
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 5px;
    }


    input[type=text] {
        width: 50%;
        padding: 16px 32px;
        font-size: 16px;
        margin: 10px 10px 20px;
        border: 1px solid silver;
        border-radius: 1px;
        text-align: right;
        color: black;
        background: #ccc;
    }

    button {
        background-color: blue;
        border: none;
        color: greenyellow;
        padding: 16px 32px;
        font-size: 16px;
        min-width: 21%;
        text-decoration: none;
        margin: 4px 2px;
        cursor: initial;
        box-shadow: 5px 5px 10px -3px silver,-5px -5px 15px 3px #000000;
    }

        button:hover {
            background-color: black
        }

        button:active {
            background-color: steelblue
        }