* {
    font-family:Bahnschrift;
    color: darkblue;

}

/*//SI RODRIGUEZ BAUTISTA ANDERSON JAVIER 
CC 1023916622
COHORTE 4 SECCION 2*/

body {
    width: 100%;
    max-width: 400px;
    text-align: center;
    border:solid 12px darkblue;
    padding-bottom: 20px;
    margin: 7% auto;
    background: #fafafa;
    background-color:darkcyan;   
}


input[type=text] {
    width: 75%;
    padding: 16px 32px;
    font-size: 16px;
    margin: 10px 10px 20px;
    border: 1px solid silver;
    border-radius: 1px;
    text-align:right;
    color: black;
    background: #ccc;
}

button {
    background-color: blue;
    border: none;
    color: greenyellow;
    padding: 16px 32px;
    font-size: 16px;
    min-width: 21%;
    text-decoration: none;
    margin: 4px 2px;
    cursor: initial;
    box-shadow: 5px 5px 10px -3px silver,-5px -5px 15px 3px #000000;
}
    button:hover {
        background-color:black 
    }
    button:active{
        background-color:steelblue
    }